body {background-color:black;
    font-family:arial;
    color:white;
    
    
    }
    h1{
       font-size:27px;
        color:rgba(0,0,0,0.6);
        font-family: verdana;
    
    }
    
    .maindiv{
       
        background-color: white;
        color: black;
        width: 400px;
        align-items: center;
        padding: 20px ;
        border-radius: 25px;
        margin: auto; 
    }
    
    input, select{
    display: inline-flex;
    margin-left: 44px;
        
     }

     
    